# To learn more about .editorconfig see https://aka.ms/editorconfigdocs

[*.cs]
# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none
csharp_style_namespace_declarations= file_scoped:suggestion
dotnet_diagnostic.CA1506.severity=none

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# CA1001: Types that own disposable fields should be disposable
dotnet_diagnostic.CA1001.severity = silent

# CA1308: Normalize strings to uppercase
dotnet_diagnostic.CA1308.severity = silent
